# requirements.txt
# Backend + Streamlit dependencies for HireSight

flask
flask-cors
spacy
PyMuPDF
scikit-learn
fpdf
requests
streamlit
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

# Optional: language model for spaCy
# python -m spacy download en_core_web_sm
